<% include common/header.ejs %>
<% booleanich = true; %>
<div class="">
    <div class="main">
        
        <div class="board">
            
<div class="container">
    <div id="menu">
            <div class="column">
        <div class="main-title">
                <div class="text-type2">Pizzas</div>
                <div class="orange-icon">3</div>
                    </div>
            <div class="panel-buttons">
            <button class="btn btn-primary bt all" id="button-reverse">All</button>
            <button class="btn btn-primary bt meat" id="button-reverse">Meat</button>
            <button class="btn btn-primary bt ananas" id="button-reverse">W/ ananas</button>
            <button class="btn btn-primary bt tomatoes" id="button-reverse">W/ tomatoes</button>
            <button class="btn btn-primary bt seafood" id="button-reverse">W/ seafood</button>
            <button class="btn btn-primary bt vega" id="button-reverse">Vega</button>
                </div>
                </div>
    </div>
    
    <div div class="row" id="pizza_list">
         
        
           
    </div>
</div>
            </div>
        
        <% include common/right.ejs %>
        </div>
</div>

<% include common/footer.ejs %>