<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %> - Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <script	type="text/javascript"	
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCznMvnaXtOm7a5qVW6_S6pUl-EO25RU_I">
</script>
</head>
<body>
    <% var booleanich = true; %>
    <div class="footer">
        <span class = "autopos"> Pizza.22 - практичний проект в межах курсу Java Script в Києво-Могилянській Академії </span>
        <span class = "autopos"> Доставка піцци не здійснюється </span>
    </div>
    <div class="badge-original" id="type1">
        <img src="assets/images/discount.svg">
        <div class="text-center">THIS WEEK SALE - - - - - 20% </div>
    </div>