

<div class="upper">
            <div class="badge-original" id="type2">

        <img src="assets/images/discount.svg">
                <div class="text-center">PIZZA <n>KMA</n></div>
            </div>
            <div class="upper-block">
            <div class=upper-p1>
                <div class="text-type1"> (095) 322 13 37 </div>
                <div class="text-type1" id="two"> 24 hours / 7 days per week </div>
                <div class="text-type1" id ="three"> Free Pizza Delivery </div>
                <button class="btn btn-primary login1" id="button-orange">Enter</button>
            </div>
            <div class=upper-p2>
                <span id = "one"> Pizza </span>
                 <button class="btn btn-primary login2" id="button-orange">Enter</button>
            </div>
                </div>
        </div>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>