<div id="cart">
            <div class="cart-upper">
                <div class="togeth">
                <div class="text-type2">Order</div>
                <div class="orange-icon cash_main">0</div>
                    </div>
                <button class="btn btn-primary enter" id="button-white">Clear order</button>
            </div>
            <div id="cart-list">
                
                
            </div>
            <div class="cart-bottom">
                <div class="widthmax">
                <div class="text-type2" id="half">Total</div>
                <div class="text-price2" id="half">0</div><div class="text-type2">uah</div>
                    </div>
                     <% if(booleanich) { %>                <button class="btn btn-primary btn-lg btn-block buyb" id="button-buy"> Buy </button>
           <% }
            else { %>
                <button class="btn btn-lg btn-block buyb" id="button-edit"> Edit </button>
           <% } %>
            </div>
        </div>